In [57]:
import pandas as pd
import numpy as np
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [10]:
data = pd.read_csv("Data/cleaned_data.csv")
data = data.drop("Unnamed: 0",axis=1)
data

,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,target
0,Male,39,Higher Degree,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,Female,46,High School Diploma/GED,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,Male,48,High School,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,Female,61,College,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,Female,46,College,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,Male,50,High School,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,Male,51,College,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,Female,48,High School Diploma/GED,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,Female,44,High School,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,Female,52,High School Diploma/GED,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

### Problems :
1 - Convert Categorical data into numerical
    * Label Encoder > high school :1 , college : 2 , Diploma : 3
    * One Hot Encoder > 

2 - unbalanced data
     1 - UnderSampling
     2 - OverSampling
     3 - Smote
3 - Normalization , Scaling

In [26]:
# categorical = []
# numerical = []
# for col in data.columns:
#     if data[col].dtype == "O":
#         categorical.append(col)
#     else:
#         numerical.append(col)

In [70]:
categorical = [col for col in data.columns if data[col].dtype == "O"]
categorical

['gender', 'education']

In [71]:
numerical = [col for col in data.columns if data[col].dtype != "O"]
numerical = numerical[0:-1]
numerical

['age',
 'currentSmoker',
 'cigsPerDay',
 'BPMeds',
 'prevalentStroke',
 'prevalentHyp',
 'diabetes',
 'totChol',
 'sysBP',
 'diaBP',
 'BMI',
 'heartRate',
 'glucose']

In [72]:
ros = RandomOverSampler()

In [73]:
X = data.drop('target', axis=1)
Y = data['target']

In [74]:
x_sampled, y_sampled = ros.fit_resample(X,Y)

In [75]:
list(y_sampled).count(1) , list(y_sampled).count(0)

(3594, 3594)

In [76]:
x_sampled

,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,Male,39,Higher Degree,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0
1,Female,46,High School Diploma/GED,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0
2,Male,48,High School,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0
3,Female,61,College,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0
4,Female,46,College,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,Male,60,Higher Degree,0,0.0,0.0,0,0,0,280.0,114.0,82.0,23.96,70.0,84.0
7184,Male,49,Higher Degree,0,0.0,1.0,0,1,0,215.0,183.0,114.5,29.25,85.0,90.0
7185,Female,60,High School,1,15.0,0.0,1,1,0,254.0,177.0,101.0,23.27,92.0,79.0
7186,Female,66,High School Diploma/GED,0,0.0,0.0,0,0,0,305.0,138.0,86.0,20.74,75.0,62.0
7187,Male,68,High School,1,15.0,0.0,0,0,0,157.0,106.0,48.0,26.73,65.0,65.0

In [77]:
pipeline = ColumnTransformer([("scaler", StandardScaler() ,numerical ),
                               ("encoder", OneHotEncoder() , categorical)
                             ])

In [78]:
data = pipeline.fit_transform(x_sampled)

In [80]:
data.shape

(7188, 20)

In [ ]:


##